/* Estilo para todos los botones */
GridPane .button {
    -fx-background-color: white;  /* Fondo blanco */
    -fx-text-fill: green;         /* Texto verde */
    -fx-font-size: 14px;          /* Tamaño de fuente */
    -fx-padding: 10px 15px;       /* Margen interno */
    -fx-alignment: center-left;   /* Texto alineado a la izquierda */
    -fx-max-width: infinity;      /* Ocupa el máximo ancho */
    -fx-border-width: 1px;        /* Grosor del borde */
    -fx-border-radius: 5px;       /* Bordes redondeados */

    -fx-border-color: transparent transparent #45a049 transparent;
    -fx-border-width: 0 0 2px 0;
}

/* Estilo para cuando el botón está en hover */
GridPane .button:hover {
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 5px 0;
    -fx-background-color: #45a049;
    -fx-text-fill: black;        /* Texto verde */
}

/* Estilo para cuando el botón está presionado */
GridPane .button:pressed {
    -fx-background-color: #388e3c;
}
